*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}
body{
    color: #ededed;
    background: #081c29;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abt-container{
    width: 100%;
    padding: 35px 10%;
}
.abt-container{
    padding-right: calc(10% - 30px);
}
main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.col .title span{
    color: #0ef;
}
.col .title{
    font-size: 30px;
    font-family: helvetica;
    padding: 0px 0px 20px 30px;
}
.col .title .hobies{
    font-family: helvetica;
    padding: 0px 0px 20px 30px;
}
.col .title:hover {
    color: #0ef;
    transition: 0.8s;
}
.col .contents{
    padding: 0px 30px;
    border-left: 2px solid #ededed;
}
.col .contents .box{
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #29475c;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
.col .contents .box:hover{
    box-shadow: 5px 0px 20px 5px #0ef;
    border: 1px solid transparent;
}
.col .contents .box:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #0ef;
    border: 2px solid white;
}
.contents1{
    margin-left: 50px;
    position: relative;
    border-radius: 20px 0px ;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #29475c;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
.box h4{
    position: relative;
    color: #0ef;
    font-size: 25px;
}
.box h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: helvertica;
    color: white;
}
.box p{
    line-height: 1.4;
    color: #eaeaea;
    font-size: 16px;
}
.contents1 p{
    line-height: 1.5;
    color: #eaeaea;
    margin-bottom: 10px;
    font-size: 16px;
}
.box a:hover:after{
    content: 'click me';
    color: #0ef;
    display: inline;
}
@media(max-width: 768px){
    main.row{
        grid-template-columns: 1fr;
    }
    .row .col:nth-child(2){
        margin-top: 30px;
    }
}
